
@font-face {
    font-family: "TeX Gyre Pagella";
    src: url("../fonts/texgyrepagella-regular.otf");
}

@font-face {
    font-family: "TeX Gyre Pagella";
    font-weight: bold;
    src: url("../fonts/texgyrepagella-bold.otf");
}

@font-face {
    font-family: "TeX Gyre Pagella";
    font-style: italic;
    src: url("../fonts/texgyrepagella-italic.otf");
}

@font-face {
    font-family: "TeX Gyre Pagella";
    font-weight: bold;
    font-style: italic;
    src: url("../fonts/texgyrepagella-bolditalic.otf");
}

[data-md-color-scheme="default"] {
    --md-text-font: "TeX Gyre Pagella";
}

[data-md-color-scheme="sans"] {
    --md-text-font: "Roboto";
}
    
